@font-face {
    font-family: 'Signika-Variable';
    src: url('res/fonts/Signika-VariableFont_wght.ttf'); 
}

html, body {

    background-color: #101020;
    color: #ECECEC;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

}

.page{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {

    width: 800px;
    height: 200px;

    font-size: 80%;

    background-color: #ECECEC;
    color: #202040;
    border-radius: 30px;
    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.59);
    
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    position: relative;
    
    
}

.text_holder{
    margin: 0;
    height: 80%;
    position: relative;
}

.text{
    position: absolute;
    font-family: Signika-Variable;
    margin-left:  10px;
    width:90%;
    height: 80%;
    text-align: justify;
    padding-left: 10px;
    background: linear-gradient(0deg, #ECECEC -20%, rgba(14,14,14,1) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.text_overlay{
    position: absolute;
    background: black;
    width:100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgb(50, 50, 50, 0.2) 190%);
}

#p1{
    text-align: justify;
    padding-left: 10px;
    
}

#p2{
    text-align: right;
    color: #525252;
    margin-right: 20px;
}

.links{
 

    position: absolute;
    top:82%;


    width: 100%;
    height: 18%;
    margin:0;
    padding:0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;



}

.links div{
    width: 1.5em;
    height: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






.side_image{
    width:30%;
    margin: 0;
    padding: 0;


    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    display:block;

    position: relative;

    overflow: hidden;
}

.img {  
    width: 100%;
    height: 100%;
    background-image: url("res/imgs/1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    position: absolute;
    top: 0;
    left: 0;

    
    filter: blur(5px);
    transition: all 0.5s;
}


.black_back{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

:hover.panel .img{
    filter: blur(0px);
}

.move_panel_up{
    transition: transform 0.5s;
    transform: translate(0,-200px);
}

.move_panel_down{
    transition: transform 0.5s;
    transform: translate(0,200px);
}